<div [formGroup]="form">
  <ng-container formArrayName="lessons">
    <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
      <div [formGroup]="lessonForm">
        <div>
          <select formControlName="level" (change)="current($event)" >
            <option *ngFor="let options of formOptions" [value]="options.value"
              [hidden]="currentVal.includes(options.value)">{{options.name}}</option>
          </select>
          <button (click)=" deleteLesson(i)">delete</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <button (click)="addLesson()" [disabled]="lessons.length >= 3">add</button>
</div>